[submodule "eigen"]
	path = eigen
	url = https://github.com/b3sigma/eigen
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb
[submodule "FreeGLUT"]
	path = FreeGLUT
	url = https://github.com/dcnieho/FreeGLUT
[submodule "OculusSDK"]
	path = OculusSDK
	url = https://github.com/b3sigma/OculusSDK
[submodule "imgui"]
	path = imgui
	url = https://github.com/b3sigma/imgui
