[submodule "eigen"]
	path = eigen
	url = https://github.com/b3sigma/eigen
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb
[submodule "OculusSDK"]
	path = OculusSDK
	url = https://github.com/b3sigma/OculusSDK
[submodule "imgui"]
	path = imgui
	url = https://github.com/b3sigma/imgui
[submodule "glfw"]
	path = glfw
	url = https://github.com/b3sigma/glfw
[submodule "PIMCPy"]
	path = PIMCPy
	url = https://github.com/b3sigma/PIMCPy.git
